/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/** Base structure */

html,
body {
  height: 100%;
  width: 100%;
  /*background-color: #7f8c8d;*/
  /*background-image:url("../img/udbackground.jpg");
  background-size: cover;
  background-repeat:no-repeat;*/
}
body {
  color: #fff;
}

.contentpg {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 100%;
  min-height: 500px;
  display: block;
}

#home {
  min-height: 100%;
}

#home h1 {
  font-size: 90px;
  /*padding-top: -130px;*/
  /*vertical-align: top;*/
  margin-top: -130px;
  text-align: center;
  color: #fff;
  min-height: 100%;
  min-width: 100%;
}

#home p {
  vertical-align: bottom;
  text-align: center;
  margin-bottom: 150px;
}

.parallaxsection {
    height: 100%;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 50px 0 50px;
}

#home { 
  background: url(../img/udbackground.jpg) 50% 0 fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  padding: 200px 0;
}


#mission h2, h1 {
  padding-top: 50px;
  color: #22313F;
}

#mission {
  max-width: 500px;
  max-height: 300px;
  /*max-height: 100%;*/
  color: #22313F;
}

#missionparagraph {
  max-height: 300px;
  max-height: 100%;
  text-align: center;
}

/* MailChimp Form Embed Code - Slim - In-Line Edit */
#mc_embed_signup form {
  display:block; 
  position:relative; 
  text-align:left; 
  padding:10px 0 10px 3%;
  width:500px;
}
#mc-embedded-subscribe-form .email {
position: absolute;
}

#mc-embedded-subscribe-form {
float: left;
}
#mc-embedded-subscribe {
float: right;
}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {
  float: right;
  clear:both; 
  background-color: #aaa; 
  border: 0 none; 
  border-radius:4px; 
  color: #FFFFFF; 
  cursor: pointer; 
  display: inline-block; 
  font-size:15px; 
  font-weight: bold; 
  height: 32px; 
  line-height: 32px; 
  margin: 0px 5px 10px 0; 
  padding:0; 
  text-align: center; 
  text-decoration: none; 
  vertical-align: top; 
  white-space: nowrap; 
  width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:inline-block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {display:inline-block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:block; width:35%; margin: 0 0 10px 0; min-width:90px; float: right;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#contact {
  min-height: 500px;
  padding-top: 150px;
  /*padding-bottom: 100px;*/
  background-image: url("../img/udbackground2.jpg");
}

.borderless td, th {
  border-top: none;
  border: none;
  color: #7f8c8d;
}