
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  
}

#calendar {
	text-align: center;
}

/*Resources*/
.page-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-top: 100px;
  max-width: 500px;
}